@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* border: 1px solid var(--border-color); */
}

/* || UTILITY CLASSES */
.errmsg {
  color: firebrick;
}

/* || GENERAL STYLES */

:root {
  --background-color: #333;
  --background-color-elevated: #222;
  --background-color-muted: #222;
  --background-color-elevated-hover: #444;
  --background-color-hover: #444;
  --background-color-active: #777;
  --text-color: #fff;
  --link-color: whitesmoke;
  --link-hover-color: rgba(245, 245, 245, 0.9);
  --button-background: #333;
  --button-background-hover: #444;
  --button-text: #fff;
  --table-header-background: #444;
  --table-header-color: #fff;
  --table-row-hover-background: #555;
  --table-border-color: #666;
  --label-text-color: #e0e0e0;
  --accent-color: #007bff;
  --accent-color-hover: #0056b3;
  
  --input-background: #333; 
  --input-focus-background: #555; 
  --field-background: var(--input-background);
  --highlight-background: #f0f0f0; 
  --highlight-foreground: #000; 
  --focus-ring-color: #007bff;
  --background-popover: #333;
  --background-popover-header: #222;
  --active-button-background: #007bff;
  --background-multi-select: #333;
  --background-multi-select-hover: #444;
  --border-color: #fff;
  --border-color-soft: #666;
}

/* Light Theme Variables */
[data-theme="light"] {
  --background-color: #fff;
  --background-color-elevated: #ddd;
  --background-color-elevated-hover: #ccc;
  --background-color-muted: #e0e0e0;
  --background-color-hover: #ddd;
  --background-color-active: #777;
  --text-color: #000;
  --link-color: #0000EE;
  --link-hover-color: #551A8B;
  --button-background: #ddd;
  --button-background-hover: #ccc;
  --button-text: #000;
  --table-header-background: #ddd;
  --table-header-color: #000;
  --table-row-hover-background: #ddd;
  --table-border-color: #ddd;
  --label-text-color: #000;
  --accent-color: #007bff;
  --accent-color-hover: #0056b3;
  
  --input-background: #fff;
  --input-focus-background: #f5f5f5;
  --field-background: var(--input-background); 
  --highlight-background: #f0f0f0;
  --highlight-foreground: #000; 
  --focus-ring-color: #007bff; 
  --background-popover: #fff;
  --background-popover-header: #f0f0f0;
  --active-button-background: #007bff;
  --background-multi-select: #fff;
  --background-multi-select-hover: #f0f0f0;
  --border-color: #000;
  --border-color-soft: #ccc;
}

[data-theme="superdark"] {
  --background-color: #000;
  --background-color-elevated: #111;
  --background-color-muted: #222;
  --background-color-elevated-hover: #333;
  --background-color-hover: #444;
  --background-color-active: #777;
  --text-color: #fff;
  --link-color: whitesmoke;
  --link-hover-color: rgba(245, 245, 245, 0.9);
  --button-background: #333;
  --button-background-hover: #444;
  --button-text: #fff;
  --table-header-background: #444;
  --table-header-color: #fff;
  --table-row-hover-background: #555;
  --table-border-color: #666;
  --label-text-color: #e0e0e0;
  --accent-color: #007bff;
  --accent-color-hover: #0056b3;
  
  --input-background: #333; 
  --input-focus-background: #555; 
  --field-background: var(--input-background);
  --highlight-background: #f0f0f0; 
  --highlight-foreground: #000; 
  --focus-ring-color: #007bff;
  --background-popover: #333;
  --background-popover-header: #222;
  --active-button-background: #007bff;
  --background-multi-select: #333;
  --background-multi-select-hover: #444;
  --border-color: #fff;
  --border-color-soft: #666;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font: 1.5rem 'Nunito', sans-serif;
  min-height: 100vh;
}

input, button {
  font: inherit;
}

a, a:visited {
  color: var(--link-color);
}

a:hover, a:focus {
  color: var(--link-hover-color);
}

button.theme-toggle {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* || PAGES */

.public, .welcome, .users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public main {
  flex-grow: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 1rem;
}

.users ul {
  list-style-type: none;
}



