.report-charts {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .report-charts {
    flex-direction: row; 
    align-items: flex-start;
  }
}
