@import "@react-aria/example-theme";

.react-aria-Group {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  border-radius: 6px;
  background: var(--field-background);
  white-space: nowrap;
  font-size: 0.857rem;

  &[data-pressed] {
    box-shadow: none;
    background: var(--highlight-background);
  }

  &[data-focus-within] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }
}

.react-aria-Button:disabled {
  border-color: #b0b0b0;  
  cursor: not-allowed;  
  opacity: 0.5;  
}

.react-aria-DateRangePicker {
  color: var(--text-color);

  [slot=end] {
    margin-right: 0rem;
    flex: 1;
  }

  .react-aria-Button {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    forced-color-adjust: none;
    border-radius: 4px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    font-size: 0.8rem;
    box-sizing: content-box;
    flex-shrink: 0;
    position: sticky;
    right: 0;

    &[data-focus-visible] {
      outline-offset: 2px;
    }
  }

  .react-aria-DateInput {
    width: unset;
    min-width: unset;
    padding: unset;
    border: unset;
    outline: unset;
  }
}

.react-aria-Popover[data-trigger=DateRangePicker] {
  max-width: unset;
}

.react-aria-RangeCalendar {
  width: fit-content;
  max-width: 100%;
  color: var(--text-color);
  background-color: var(--background-popover);

  & header {
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    background: var(--background-popover-header);

    .react-aria-Heading {
      flex: 1;
      margin: 0;
      text-align: center;
      font-size: 1rem;
    }
  }

  /*INNER ARROW*/
  .react-aria-Button {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  & table {
    border-collapse: collapse;

    & td {
      padding: 0 0 0 0;
    }
  }

  .react-aria-CalendarCell {
    font-size: 1rem;
    width: 2.75rem;
    line-height: 2rem;
    text-align: center;
    /* border-radius: 6px; */
    cursor: default;
    outline: none;
    forced-color-adjust: none;

    &[data-outside-month] {
      display: none;
    }

    &[data-pressed] {
      background: var(--gray-100);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--highlight-background);
      outline-offset: -2px;
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      border-radius: 0;

      &[data-focus-visible] {
        outline-color: var(--highlight-foreground);
        outline-offset: -3px;
      }
    }

    &[data-selection-start] {
      border-start-start-radius: 6px;
      border-end-start-radius: 6px;
    }

    &[data-selection-end] {
      border-start-end-radius: 6px;
      border-end-end-radius: 6px;
    }
  }
}

@media (min-width: 768px) {
  .react-aria-Group {
    min-width: 220px;
    padding: 0.25rem;
    font-size: 1.25rem;
  }
  
  .react-aria-DateRangePicker {
    .react-aria-Button {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }
  }
}