.svg-pie-chart-container {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  font: 20px sans-serif;
}

tspan {
  font-size: 1rem;
}

.spinner {
  border: .25rem solid rgba(0, 0, 0, 0.1);
  border-top-color: #4f46e5; /* Indigo-600 or whatever color you want */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Extra small (phones) */
@media (min-width: 479px) {

}

/* Small (phones) */
@media (min-width: 480px) {

}

/* Medium (tablets) */
@media (min-width: 768px) {
  tspan {
    font-size: 1.5rem;
  }
}

/* Large (small desktops & laptops) */
@media (min-width: 1024px) {

}

/* X-Large (standard desktops) */
@media (min-width: 1280px) {

}

/* Large Laptops */
@media (min-width: 1440px) {

}

/* Standard Desktops (HD) */
@media (min-width: 1600px) {

}

/* Ultra-wide HD (between HD and 2K) */
@media (min-width: 1920px) {

}

/* 2K+ (2560px and above) */
@media (min-width: 2560px) {

}