/* Base styles - Mobile first */
table {
  width: 100%; /* full width on small screens */
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.6rem;
  text-align: left;
}

table thead {
  background-color: var(--table-header-background, #444);
  color: var(--table-header-color, #fff);
}

table thead th {
  padding: 0.5rem;
  white-space: nowrap;
}

table tbody td {
  padding: 0.15rem;
  border-bottom: 1px solid var(--table-border-color, #666);
  white-space: nowrap;
}

table tbody td:last-child {
  border-right: none;
}

table tbody tr:hover {
  background-color: var(--table-row-hover-background, #999);
}

.clickable-cell {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.clickable-cell:hover {
  color: darkblue;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  cursor: pointer;
}

/* @keyframes blink-animation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

You can modify this to suit the look you're going for
.highlight-red.blinking {
  background-color: rgba(255, 0, 0, 0.3);
}

.highlight-yellow.blinking {
  background-color: rgba(255, 255, 0, 0.3);
}

.highlight-green.blinking {
  background-color: rgba(0, 255, 0, 0.3);
} */

/* Animations */
@keyframes flash-red {
  0% { background-color: #b30000; }
  50% { background-color: #ff6666; }
  100% { background-color: #b30000; }
}

@keyframes flashYellow {
  0% { background-color: #ffcc00; }
  50% { background-color: #cccc00; }
  100% { background-color: #ffcc00; }
}

.highlight-red {
  background-color: #b30000;
  color: white;
}

.highlight-yellow {
  background-color: #ffcc00;
  color: black;
}

.highlight-green {
  background-color: rgba(0, 255, 0, 0.5);
  /* color: white; */
}

.highlight-red.blinking {
  animation: flash-red 1s infinite;
}

.highlight-yellow.blinking {
  animation: flashYellow 3s infinite;
}

/* Tablet and up */
@media (min-width: 768px) {
  table {
    width: auto;
    font-size: 1rem;
  }

  table thead th,
  table tbody td {
    padding: 0.75rem;
  }
}
