.toggle-button {
  margin: 0.25rem;
  padding: .3rem .6rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: .75rem;
  background-color: var(--button-background);
  color: var(--button-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    opacity: 1;
  }
}

.toggle-button.active {
  background-color: var(--active-button-background);
  color: white;
  
}

.toggle-button.active.blink {
  animation: blink 3s infinite;
}

@media (min-width: 768px) {
  .toggle-button {
    padding: 10px 20px;
    font-size: 16px;
  }
}